{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="label label-danger">{{ error.message }}</div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block controls %}
    <div class="juice_upload_controls clearfix">
        <div class="juice_upload_button_container">
            <span class="btn btn-primary fileinput-button {{ form.vars.button_class }}">
                <i class="glyphicon glyphicon-plus"></i>
                <span>{{ form.vars.button_label }}</span>

                <!-- The file input field used as target for the file upload widget -->
                <input class="file_upload" type="file" name="file" accept="{{ form.vars.accept }}"  {% if form.vars.multi | default(false) %}multiple{% endif %}>
            </span>
        </div>

        <div class="juice_upload_progress_container">
            <div class="percent"></div>
            <span class="glyphicon glyphicon-refresh spin"></span>
        </div>
    </div>
{% endblock %}

{% block juice_upload_image_type_widget %}
    <div class="juice_upload clearfix" {% for key, value in form.vars.attr %}{{ key }}="{{ value }}" {% endfor %} data-input-name="{{ form.vars.full_name }}">
        {{ block('controls') }}
        {{ block('juice_upload_base_image') }}
    </div>
{% endblock %}

{% block juice_upload_file_type_widget %}
    <div class="juice_upload clearfix" {% for key, value in form.vars.attr %}{{ key }}="{{ value }}" {% endfor %} data-input-name="{{ form.vars.full_name }}">

        {{ block('controls') }}

        <div class="juice_upload_item file">
            <div class="file_container">
                {% if form.vars.value %}
                    <div class="alert alert-success juice_upload_file" role="alert">{{ form.vars.value }}<div class="button remove"><span class="glyphicon glyphicon-remove"></span></div></div>
                {%  endif %}
                <div class="hidden_form">{{ form_widget(form) }}</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block juice_upload_gallery_field_widget %}
    <div class="juice_upload clearfix" {% for key, value in form.vars.attr %}{{ key }}="{{ value }}" {% endfor %} data-input-name="{{ form.vars.full_name }}" data-prototype="{{ form_widget(form.vars.prototype)|e }}">

        {{ block('controls') }}

        <div class="juice_upload_collection">
            {% for child in form.children %}
                {{ form_widget(child, {attr : { class : 'juice_upload_gallery_item' }}) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block juice_upload_gallery_item_type_widget %}
    {{ block('juice_upload_base_image') }}
{% endblock %}

{% block juice_upload_base_image %}
    <div class="juice_upload_item image">
        <div class="juice_upload_form_container">
            <div class="featured_layer"></div>
            <div class="edit_layer">
                <div class="buttons">
                    <div class="button remove"><span class="glyphicon glyphicon-remove"></span></div>
                </div>
            </div>
            <div class="file_container">
                {% if form.vars.value %}
                    {% set finalPath = final_upload_dir ~ "/" ~ form.vars.value %}
                    {% set tmpPath = tmp_upload_dir ~ "/" ~ form.vars.value %}

                    {% if finalPath | checkFile %}
                        <img src="/{{ finalPath }}" />
                    {%  elseif tmpPath | checkFile%}
                        <img src="/{{ tmpPath }}" />
                    {%  else %}
                        Image ERROR!!!
                    {%  endif %}
                {%  endif %}
                <div class="hidden_form">
                    {{ form_widget(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}