{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="error">{{ error.message }}</div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block controls %}
    <div class="juice_upload_controls clearfix">
        <div class="juice_upload_button_container">
            <button class="juice_upload_button clearfix">
                <span>{{ form.vars.button_label | trans}}</span>
                <input class="file_upload" type="file" name="file" accept="{{ form.vars.accept }}"  {% if form.vars.multi | default(false) %}multiple{% endif %}>
            </button>
        </div>

        <div class="juice_upload_progress_container">
            <div class="percent"></div>
        </div>
    </div>
{% endblock %}

{% block juice_image_type_widget %}
    <div class="juice_upload_container clearfix" {% for key, value in form.vars.attr %}{{ key }}="{{ value }}" {% endfor %} data-input-name="{{ form.vars.full_name }}">
        {{ block('controls') }}

        <div class="juice_upload_item single_item">
            <div class="featured_layer"></div>
            <div class="edit_layer">
                <div class="buttons">
                    <div class="button remove">X</div>
                </div>
            </div>
            <div class="juice_upload_form_container preview">
                {% if form.vars.value %}
                    {% set finalPath = final_upload_dir ~ "/" ~ form.vars.value %}
                    {% set tmpPath = tmp_upload_dir ~ "/" ~ form.vars.value %}

                    {% if form.parent.vars.value.id and finalPath | checkFile %}
                        <img src="/{{ finalPath }}" />
                    {%  elseif tmpPath | checkFile%}
                        <img src="/{{ tmpPath }}" />
                    {%  else %}
                        Image ERROR!!!
                    {%  endif %}
                {%  endif %}
                <div class="hidden_form">{{ form_widget(form) }}</div>
            </div>
        </div>
    </div>
{% endblock juice_image_type_widget %}

{% block juice_file_type_widget %}
    <div class="juice_upload_container clearfix" {% for key, value in form.vars.attr %}{{ key }}="{{ value }}" {% endfor %} data-input-name="{{ form.vars.full_name }}">

        {{ block('controls') }}

        <div class="juice_upload_item single_item ">
            <div class="juice_upload_form_container">
                {% if form.vars.value %}
                    <div class="alert alert-success juice_upload_single_file" role="alert">{{ form.vars.value }}<div class="button remove"><span class="glyphicon glyphicon-remove"></span></div></div>
                {%  endif %}
                <div class="hidden_form">{{ form_widget(form) }}</div>
            </div>
        </div>
    </div>
{% endblock juice_file_type_widget %}

{% block juice_gallery_field_widget %}
    <div class="juice_upload">
        <div class="juice_upload_container clearfix" {% for key, value in form.vars.attr %}{{ key }}="{{ value }}" {% endfor %} data-input-name="{{ form.vars.full_name }}" data-prototype="{{ form_widget(form.vars.prototype)|e }}">

            {{ block('controls') }}

            <div class="juice_upload_collection_container gallery">
                {% for child in form.children %}
                    {{ form_widget(child, {attr : {class : 'juice_upload_gallery_item'}}) }}
                {% endfor %}
            </div>
        </div>
    </div>
    <hr/>
{% endblock juice_gallery_field_widget %}

{% block juice_gallery_image_type_widget %}
    <div class="juice_upload_item single_item">
        <div class="featured_layer"></div>
        <div class="edit_layer">
            <div class="buttons">
                <div class="button remove">X</div>
            </div>
        </div>
        <div class="juice_upload_form_container preview">
            {% if form.vars.value %}
                {% set finalPath = final_upload_dir ~ "/" ~ form.vars.value %}
                {% set tmpPath = tmp_upload_dir ~ "/" ~ form.vars.value %}

                {% if form.parent.vars.value.id and finalPath | checkFile %}
                    <img src="/{{ finalPath }}" />
                {%  elseif tmpPath | checkFile%}
                    <img src="/{{ tmpPath }}" />
                {%  else %}
                    Image ERROR!!!
                {%  endif %}
            {%  endif %}
            <div class="hidden_form">{{ form_widget(form) }}</div>
        </div>
    </div>
{% endblock juice_gallery_image_type_widget %}








